<!DOCTYPE html>
<html lang="en" class="light scroll-smooth" dir="ltr">
<%- include('../Partials/Head') %>
<body>
<main>
    <section class="md:h-screen flex items-center relative overflow-hidden">
        <!-- image-wrap -->
        <div class="absolute inset-0 z-1 bg-[url('/Images/bg/08.png')] bg-no-repeat bg-center bg-cover"></div>

        <div class="w-1/2 min-h-screen flex items-center justify-center md:pl-10 py-10 px-4 relative z-3">
            <div class="text-left">
                <h1 class="text-white mt-3 mb-6 md:text-5xl text-3xl font-bold">
                    Tezliklə Skutech xidmətinizdə!
                </h1>
                <p class="text-white/70 text-lg max-w-xl">
                    Motosiklet, velosiped və skuter həvəskarları üçün yeni elan platforması!
                    Sürətli elan yerləşdirmə, ağıllı axtarış sistemi və premium imkanlarla ehtiyac duyduğunuzu asanlıqla tapacaqsız.
                </p>
            </div>
        </div>

        <!-- Alt metin (Copyright) ortada hizalanmış -->
        <div class="absolute bottom-10 left-1/4 transform -translate-x-1/2 z-3 text-center">
            <p class="text-slate-400">© <script>document.write(new Date().getFullYear())</script> Skutech.az</p>
        </div>
    </section>

</main>
</body>
</html>
