<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= title %>
    </title>

    <!-- FontAwesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

    <!-- CDN Tailwind / remove after complete project -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CDN Tailwind / remove after complete project -->

    <!-- Tailwind CSS -->
    <link rel="stylesheet" href="/Admin/Css/Satoshi.css">
    <link rel="stylesheet" href="/Admin/Css/Loader.css">
    <link rel="stylesheet" href="/Css/Base.css">
    <link rel="stylesheet" href="style.css">

</head>