<div class="container mx-auto px-4 md:px-8 lg:px-16 py-12 min-h-screen flex items-center mt-8">
    <div class="bg-white px-6 md:px-8 lg:px-12 py-4 w-full mt-0 rounded-lg shadow-lg">
        <!-- Contact Us Heading -->
        <h2 class="text-4xl font-bold text-center mt-3 mb-8 text-gray-800">Bizimlə Əlaqə</h2>
        
        <!-- Contact Info and Form Section -->
        <div class="flex flex-col lg:flex-row gap-8 lg:gap-12">
            <!-- Contact Information -->
            <div class="w-full lg:w-1/2 space-y-6 hidden mt-8 ml-8 lg:block">
                <div class="flex flex-col pb-4">
                    <h3 class="text-lg font-semibold text-gray-800">Email:</h3>
                    <p class="text-gray-700">contact@jobing.az</p>
                    <div class=""></div>
                    <div class="border-custom-bottom w-72 mt-2"></div>

                </div>
                <div class="flex flex-col pb-4">
                    <h3 class="text-lg font-semibold text-gray-800">Telefon:</h3>
                    <p><a href="tel:+994709990569">070-999-05-69</a></p>
                    <div class="border-custom-bottom w-72 mt-2"></div>
                </div>
                <div class="flex flex-col pb-4">
                    <h3 class="text-lg font-semibold text-gray-800">Ünvan:</h3>
                    <p class="text-gray-700">Bakı</p>
                    <div class="border-custom-bottom w-72 mt-2"></div>
                </div>
            </div>

            <!-- Contact Form -->
            <div class="w-full lg:w-1/2 bg-gray-50 p-6 lg:p-10 rounded-lg mr-6">
                <form class="space-y-6">
                    <input type="email" id="title" placeholder="Emailinizi daxil edin" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 hover:bg-orange-50 transition duration-200">
                    <textarea placeholder="Mesaj mətni" id="text" class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-orange-500 hover:bg-orange-50 h-32 resize-none"></textarea>
                    <button type="button" id="send-mail" class="w-full filled-button-color text-white font-semibold py-3 rounded-lg hover:bg-orange-700 transition duration-200 shadow-md">
                        <span id="button-text">Göndər</span>
                        <span id="loader" class="hidden">
                            <svg class="animate-spin h-5 w-5 text-white inline" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"></path>
                            </svg>
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
