<!-- Main Footer -->
<footer id="footer" class="bg-gray-50 text-gray-500 pt-10 mt-4">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-8">
        <!-- Widgets Section -->
        <div class="flex flex-wrap justify-between lg:flex-nowrap">
            <!-- For Candidates -->
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4 px-3 sm:mr-20">
                <h3 class="text-lg font-bold mb-4 text-gray-500">Şirkət Haqqında</h3>
                <span class="text-gray-400 mb-6"> <a href="/">Jobing.az</a> - Azərbaycan bazarında iş axtarışını asanlaşdıran platformamız istifadəçilərə geniş iş elanları təklif edir və hər bir istifadəçinin ehtiyaclarına uyğun iş tapma təcrübəsi təmin edir.</span>
                <!-- Social Media Icons at the Bottom -->
                <div class="flex space-x-4 mt-5 justify-between px-8 sm:px-0 sm:justify-start">
                    <a href="https://www.facebook.com/profile.php?id=61569206672024" target="_blank" class="text-2xl transition-colors duration-300">
                        <i class="fab fa-facebook-f text-gray-900 hover:text-[#1877f2]"></i>
                    </a>
                    <a href="https://www.twitter.com/" target="_blank" class="text-2xl transition-colors duration-300">
                        <i class="fab fa-twitter text-gray-900 hover:text-[#1DA1F2]"></i>
                    </a>
                    <a href="https://www.linkedin.com/company/jobing-az/" target="_blank" class="text-2xl transition-colors duration-300">
                        <i class="fab fa-linkedin-in text-gray-900 hover:text-[#0A66C2]"></i>
                    </a>
                    <a href="https://wa.me/994709990569" target="_blank" class="text-2xl transition-colors duration-300">
                        <i class="fab fa-whatsapp text-gray-900 hover:text-[#25D366]"></i>
                    </a>
                    <a href="https://www.instagram.com/jobing.az/?utm_source=ig_web_button_share_sheet" target="_blank" class="text-2xl transition-colors duration-300">
                        <i class="fab fa-instagram text-gray-900 hover:text-[#E4405F]"></i>
                    </a>
                    
                </div>
            </div>

            <!-- Quick Links -->
            <div class="w-1/2 lg:w-1/4 mb-4 hidden sm:block">
                <h4 class="text-gray-500 text-lg font-bold mb-4">Sürətli keçid</h4>
                <ul class="space-y-2">
                    <li><a href="/" class="before:content-['›'] before:mr-2 hover:underline">Ana Səhifə</a></li>
                    <li><a href="/jobs" class="before:content-['›'] before:mr-2 hover:underline">Vakansiyalar</a></li>
                    <li><a href="/contact" class="before:content-['›'] before:mr-2 hover:underline">Əlaqə</a></li>
                    <li><a href="/about-us" class="before:content-['›'] before:mr-2 hover:underline">Haqqımızda</a></li>
                    <li><a href="/faq" class="before:content-['›'] before:mr-2 hover:underline">TVS</a></li>
                </ul>
            </div>
            
            <!-- Contact Information -->
            <div class="w-1/2 lg:w-1/4 mb-4  hidden sm:block">
                <h4 class="text-gray-500 text-lg font-bold mb-4">Əlaqə</h4>
                <div class="mb-2">
                    <div class="text-sm text-gray-500">Ödənişsiz Müştəri Xidməti</div>
                    <a href="tel:+994709990569" class="text-gray-500 font-semibold hover:underline">+99470-999-05-69</a>
                </div>
                <div>
                    <div class="text-sm text-gray-500">Dəstəyə Ehtiyacınız var?</div>
                    <a href="mailto:contact@jobing.az" class="text-gray-500 font-semibold hover:underline">contact@jobing.az</a>
                </div>
            </div>

            <!-- Languages -->
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4  hidden sm:block">
                <h4 class="text-gray-500 text-lg font-bold mb-4">Dillər</h4>
                <ul class="space-y-2">
                    <li><a href="#" class="before:content-['›'] before:mr-2 hover:underline">Azərbaycanca</a></li>
                    <li><a href="#" class="before:content-['›'] before:mr-2 hover:underline">İngiliscə</a></li>
                    <li><a href="#" class="before:content-['›'] before:mr-2 hover:underline">Rusca</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Bottom Section -->
    <div class="py-2 shadow-2xl bg-gray-100">
        <div class="max-w-screen-xl mx-auto px-4 flex justify-center items-center">
            <div class="text-gray-500 text-sm">&copy; 2024 - 2025 <a href="/" class="hover:underline">Jobing.az</a>. Bütün hüquqlar qorunur.</div>
        </div>
    </div>
</footer>
