<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="DKxrd6e6GbNPPd0KnuDbbsMtnVgmKDdA2jgk3QC-MJc" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Ən Son Vakansiyalar - Mühasib, Proqramist və Daha Çox | Jobing.az</title> -->
    <meta name="description" content="Azərbaycanda ən son vakansiyalar! Bütün yeni iş elanlarını Jobing.az-da tapın.">
    <meta name="keywords"
        content="hellojob, vakansiya, boss.az vakansiya, restoran vakansiya, otel vakansiya, iş elanları, ən son vakansiyalar, jobing.az">
    <title>
        <%= title %>
    </title>

    <!-- FontAwesome CDN -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

    <!-- CDN Tailwind / remove after complete project -->
<!--     <script src="https://cdn.tailwindcss.com"></script>-->
    <!-- CDN Tailwind / remove after complete project -->

    <link rel="stylesheet" href="/Css/Output.css">
    <link rel="stylesheet" href="/Css/Custom.css">
    <link rel="stylesheet" href="/Css/Loader.css">
    <link rel="stylesheet" href="/Css/Libraries/Alertify/alertify.min.css">
    <link rel="stylesheet" href="/Css/Libraries/salarySlider.min.css">
    <link rel="stylesheet" href="/Css/Libraries/Ckeditor5.min.css">
    <!-- <link rel="stylesheet" href="/Css/Libraries/Ckeditor/ckeditor5-editor.css"> -->

    <!-- Favicons -->
    <link rel="icon" href="Images/Favicons/favicon.ico" type="image/x-icon">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- Favicon 32x32 ve 16x16 -->
    <link rel="icon" href="Images/Favicons/favicon-32x32.png" type="image/png" sizes="32x32">
    <link rel="icon" href="Images/Favicons/favicon-16x16.png" type="image/png" sizes="16x16">
    <!-- Web App Manifest -->
    <link rel="manifest" href="Images/Favicons/site.webmanifest">
    <!-- Android Chrome Icons -->
    <link rel="icon" href="Images/Favicons/android-chrome-192x192.png" type="image/png" sizes="192x192">
    <link rel="icon" href="Images/Favicons/android-chrome-512x512.png" type="image/png" sizes="512x512">


    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2932L7DPW8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-2932L7DPW8');
    </script>

</head>