<head>
    <meta charset="UTF-8" />
    <title>Hously - PHP Real Estate Landing & Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="version" content="2.3.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/Images/favicon.ico" />

    <!-- Css -->
    <link href="/Libraries/tiny-slider/tiny-slider.css" rel="stylesheet">
    <link href="/Libraries/tobii/css/tobii.min.css" rel="stylesheet">
    <link href="/Libraries/choices.js/public/assets/styles/choices.min.css" rel="stylesheet">
    <link href="/Libraries/swiper/css/swiper.min.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="/Libraries/@iconscout/unicons/css/line.css" type="text/css" rel="stylesheet" />
    <link href="/Libraries/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/Css/tailwind.css" />
    <link rel="stylesheet" href="/Css/output.css" />
    <link rel="stylesheet" href="/Css/custom.css" />
    <script src="https://cdn.tailwindcss.com/"></script>


</head>