<!-- TAGLINE START-->
<div id="topnav" class="tagline bg-slate-900 is-sticky ">
    <div class="container relative">
        <div class="grid grid-cols-1">
            <div class="flex items-center justify-between">
                <ul class="list-none">
                    <li class="inline-flex items-center">
                        <i data-feather="clock" class="text-green-600 size-4"></i>
                        <span class="ms-2 text-slate-300">Mon-Sat: 9am to 6pm</span>
                    </li>
                    <li class="inline-flex items-center ms-2">
                        <i data-feather="map-pin" class="text-green-600 size-4"></i>
                        <span class="ms-2 text-slate-300">Houston, USA 485</span>
                    </li>
                </ul>

                <ul class="list-none">
                    <li class="inline-flex items-center">
                        <i data-feather="mail" class="text-green-600 size-4"></i>
                        <a href="mailto:contact@example.com" class="ms-2 text-slate-300 hover:text-slate-200">contact@example.com</a>
                    </li>
                    <li class="inline-flex items-center ms-2">
                        <ul class="list-none">
                            <li class="inline-flex mb-0"><a href="#!" class="text-slate-300 hover:text-green-600"><i data-feather="facebook" class="size-4 align-middle" title="facebook"></i></a></li>
                            <li class="inline-flex ms-2 mb-0"><a href="#!" class="text-slate-300 hover:text-green-600"><i data-feather="instagram" class="size-4 align-middle" title="instagram"></i></a></li>
                            <li class="inline-flex ms-2 mb-0"><a href="#!" class="text-slate-300 hover:text-green-600"><i data-feather="twitter" class="size-4 align-middle" title="twitter"></i></a></li>
                            <li class="inline-flex ms-2 mb-0"><a href="tel:+152534-468-854" class="text-slate-300 hover:text-green-600"><i data-feather="phone" class="size-4 align-middle" title="phone"></i></a></li>
                        </ul><!--end icon-->
                    </li>
                </ul>
            </div>
        </div>
    </div><!--end container-->
</div><!--end tagline-->
<!-- TAGLINE END-->

<!-- Start Navbar -->
<nav id="topnav" class="defaultscroll is-sticky tagline-height header_mid">
    <div class="container relative">
        <!-- Logo container-->
        <a class="logo" href="index-2.html">
            <img src="/Images/logo-dark.png" class="inline-block dark:hidden" alt="">
            <img src="/Images/logo-light.png" class="hidden dark:inline-block" alt="">
        </a>
        <!-- End Logo container-->

        <!-- Start Mobile Toggle -->
        <div class="menu-extras">
            <div class="menu-item">
                <a class="navbar-toggle" id="isToggle" onclick="toggleMenu()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
        <!-- End Mobile Toggle -->

        <!--Login button Start-->
        <ul class="buy-button list-none mb-0">
            <li class="inline mb-0">
                <a href="/auth" class="btn btn-icon bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white rounded-full"><i data-feather="user" class="size-4 stroke-[3]"></i></a>
            </li>
            <li class="sm:inline ps-1 mb-0 hidden">
                <a href="/auth" class="btn bg-green-600 hover:bg-green-700 border-green-600 dark:border-green-600 text-white rounded-full">Signup</a>
            </li>
        </ul>
        <!--Login button End-->

        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu justify-end">
                <li class="has-submenu parent-parent-menu-item">
                    <a href="javascript:void(0)">Home</a>
                </li>

                <li><a href="/motorcycles" class="sub-menu-item">Motorcycles</a></li>

                <li><a href="/skooters" class="sub-menu-item">Skooters</a></li>

                <li><a href="/contact" class="sub-menu-item">Contact</a></li>
            </ul><!--end navigation menu-->
        </div><!--end navigation-->
    </div><!--end container-->
</nav><!--end header-->
<!-- End Navbar -->