
<!-- Hero Start -->
<section
        class="relative overflow-hidden md:h-screen flex items-center md:py-0 py-36 bg-cyan-100 dark:bg-cyan-500/20 bg-[url('/Images/bg/bg3.png')] bg-no-repeat bg-top bg-cover">
    <div class="container relative">
        <div class="grid grid-cols-1 items-center mt-10">
            <div class="md:text-start text-center">
                <h1 class="font-bold lg:leading-normal leading-normal text-4xl lg:text-5xl mb-6">
                    <span>We will find a
                    perfect <br> home for you</span></h1>
                <p class="text-xl max-w-xl">A great plateform to buy, sell and rent your properties without any
                    agent or commisions.</p>

                <div class="relative flex mt-8">
                    <div class="lg:w-5/6 w-full">
                        <ul class="inline-block sm:w-fit w-full flex-wrap justify-center text-center p-4 bg-white dark:bg-slate-900 rounded-t-xl border-b dark:border-gray-800"
                            id="myTab" data-tabs-toggle="#StarterContent" role="tablist">
                            <li role="presentation" class="inline-block">
                                <button class="px-6 py-2 text-base font-medium rounded-md w-full hover:text-green-600 transition-all duration-500 ease-in-out"
                                        id="buy-home-tab" data-tabs-target="#buy-home" type="button" role="tab"
                                        aria-controls="buy-home" aria-selected="true">Buy
                                </button>
                            </li>
                            <li role="presentation" class="inline-block">
                                <button class="px-6 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out"
                                        id="sell-home-tab" data-tabs-target="#sell-home" type="button" role="tab"
                                        aria-controls="sell-home" aria-selected="false">Sell
                                </button>
                            </li>
                            <li role="presentation" class="inline-block">
                                <button class="px-6 py-2 text-base font-medium rounded-md w-full transition-all duration-500 ease-in-out"
                                        id="rent-home-tab" data-tabs-target="#rent-home" type="button" role="tab"
                                        aria-controls="rent-home" aria-selected="false">Rent
                                </button>
                            </li>
                        </ul>

                        <div id="StarterContent"
                             class="p-6 bg-white dark:bg-slate-900 rounded-ss-none rounded-se-none md:rounded-se-xl rounded-xl shadow-md dark:shadow-gray-700">
                            <div class="" id="buy-home" role="tabpanel" aria-labelledby="buy-home-tab">
                                <form action="#">
                                    <div class="registration-form text-dark text-start">
                                        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                            <div>
                                                <label class="form-label font-medium text-slate-900 dark:text-white">Search
                                                    : <span class="text-red-600">*</span></label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-search icons"></i>
                                                    <input name="name" type="text" id="job-keyword"
                                                           class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0"
                                                           placeholder="Search your keaywords">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-properties"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Select
                                                    Categories:</label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-estate icons"></i>
                                                    <select class="form-select z-2" data-trigger
                                                            name="choices-catagory" id="choices-catagory-buy"
                                                            aria-label="Default select example">
                                                        <option>Houses</option>
                                                        <option>Apartment</option>
                                                        <option>Offices</option>
                                                        <option>Townhome</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-min-price"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Budget
                                                    :</label>
                                                <div class="filter-search-form relative mt-2">
                                                    <i class="uil uil-usd-circle icons"></i>
                                                    <select class="form-select" data-trigger
                                                            name="choices-min-price" id="choices-min-price-buy"
                                                            aria-label="Default select example">
                                                        <option>Budget</option>
                                                        <option>500</option>
                                                        <option>1000</option>
                                                        <option>2000</option>
                                                        <option>3000</option>
                                                        <option>4000</option>
                                                        <option>5000</option>
                                                        <option>6000</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="md:mt-8">
                                                <input type="submit" id="search-buy" name="search"
                                                       class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-[60px] rounded lg:rounded-none"
                                                       value="Search">
                                            </div>
                                        </div><!--end grid-->
                                    </div><!--end container-->
                                </form>
                            </div>

                            <div class="hidden" id="sell-home" role="tabpanel" aria-labelledby="sell-home-tab">
                                <form action="#">
                                    <div class="registration-form text-dark ltr:text-start rtl:text-end">
                                        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                            <div>
                                                <label class="form-label font-medium text-slate-900 dark:text-white">Search
                                                    : <span class="text-red-600">*</span></label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-search icons"></i>
                                                    <input name="name" type="text" id="job-keyword"
                                                           class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0"
                                                           placeholder="Search your keaywords">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-properties"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Select
                                                    Categories:</label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-estate icons"></i>
                                                    <select class="form-select z-2" data-trigger
                                                            name="choices-catagory" id="choices-catagory-sell"
                                                            aria-label="Default select example">
                                                        <option>Houses</option>
                                                        <option>Apartment</option>
                                                        <option>Offices</option>
                                                        <option>Townhome</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-min-price"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Budget
                                                    :</label>
                                                <div class="filter-search-form relative mt-2">
                                                    <i class="uil uil-usd-circle icons"></i>
                                                    <select class="form-select" data-trigger
                                                            name="choices-min-price" id="choices-min-price-sell"
                                                            aria-label="Default select example">
                                                        <option>Budget</option>
                                                        <option>500</option>
                                                        <option>1000</option>
                                                        <option>2000</option>
                                                        <option>3000</option>
                                                        <option>4000</option>
                                                        <option>5000</option>
                                                        <option>6000</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="md:mt-8">
                                                <input type="submit" id="search-sell" name="search"
                                                       class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-[60px] rounded lg:rounded-none"
                                                       value="Search">
                                            </div>
                                        </div><!--end grid-->
                                    </div><!--end container-->
                                </form>
                            </div>

                            <div class="hidden" id="rent-home" role="tabpanel" aria-labelledby="rent-home-tab">
                                <form action="#">
                                    <div class="registration-form text-dark ltr:text-start rtl:text-end">
                                        <div class="grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 lg:gap-0 gap-6">
                                            <div>
                                                <label class="form-label font-medium text-slate-900 dark:text-white">Search
                                                    : <span class="text-red-600">*</span></label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-search icons"></i>
                                                    <input name="name" type="text" id="job-keyword"
                                                           class="form-input filter-input-box bg-gray-50 dark:bg-slate-800 border-0"
                                                           placeholder="Search your keaywords">
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-properties"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Select
                                                    Categories:</label>
                                                <div class="filter-search-form relative filter-border mt-2">
                                                    <i class="uil uil-estate icons"></i>
                                                    <select class="form-select z-2" data-trigger
                                                            name="choices-catagory" id="choices-catagory-rent"
                                                            aria-label="Default select example">
                                                        <option>Houses</option>
                                                        <option>Apartment</option>
                                                        <option>Offices</option>
                                                        <option>Townhome</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div>
                                                <label for="buy-min-price"
                                                       class="form-label font-medium text-slate-900 dark:text-white">Budget
                                                    :</label>
                                                <div class="filter-search-form relative mt-2">
                                                    <i class="uil uil-usd-circle icons"></i>
                                                    <select class="form-select" data-trigger
                                                            name="choices-min-price" id="choices-min-price-rent"
                                                            aria-label="Default select example">
                                                        <option>Budget</option>
                                                        <option>500</option>
                                                        <option>1000</option>
                                                        <option>2000</option>
                                                        <option>3000</option>
                                                        <option>4000</option>
                                                        <option>5000</option>
                                                        <option>6000</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="md:mt-8">
                                                <input type="submit" id="search-rent" name="search"
                                                       class="btn bg-green-600 hover:bg-green-700 border-green-600 hover:border-green-700 text-white searchbtn submit-btn w-full !h-[60px] rounded lg:rounded-none"
                                                       value="Search">
                                            </div>
                                        </div><!--end grid-->
                                    </div><!--end container-->
                                </form>
                            </div>
                        </div>
                    </div><!--end grid-->
                </div>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- Hero End -->


<!-- Start CTA -->
<section
        class="relative py-24 bg-[url('../..//Hously_Landing/assets/images/bg/01.jpg')] bg-no-repeat bg-center bg-fixed bg-cover">
    <div class="absolute inset-0 bg-black/60"></div>
    <div class="container relative">
        <div class="grid lg:grid-cols-12 grid-cols-1 md:text-start text-center justify-center">
            <div class="lg:col-start-2 lg:col-span-10">
                <div class="grid md:grid-cols-3 grid-cols-1 items-center">


                    <!-- cta code  -->

                    <div class="counter-box text-center">
                        <h1 class="text-white lg:text-5xl text-4xl font-semibold mb-2"><span class="counter-value"
                                                                                             data-target="1548">1010</span>+
                        </h1>
                        <h5 class="counter-head text-white text-lg font-medium">Properties Sell</h5>
                    </div><!--end counter box-->
                    <div class="counter-box text-center">
                        <h1 class="text-white lg:text-5xl text-4xl font-semibold mb-2"><span class="counter-value"
                                                                                             data-target="25">2</span>+
                        </h1>
                        <h5 class="counter-head text-white text-lg font-medium">Award Gained</h5>
                    </div><!--end counter box-->
                    <div class="counter-box text-center">
                        <h1 class="text-white lg:text-5xl text-4xl font-semibold mb-2"><span class="counter-value"
                                                                                             data-target="9">0</span>+
                        </h1>
                        <h5 class="counter-head text-white text-lg font-medium">Years Experience</h5>
                    </div><!--end counter box-->

                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End CTA -->

<section class="relative md:py-24 py-16">
    <div class="container relative">
        <div class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 mt-8 md:gap-[30px] gap-3">

            <!-- categories code  -->

            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <img src="/Images/property/residential.jpg" alt="">
                <div class="p-4">
                    <a href="#" class="text-xl font-medium hover:text-green-600">Residential</a>
                    <p class="text-slate-400 text-sm mt-1">46 Listings</p>
                </div>
            </div><!--end content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <img src="/Images/property/land.jpg" alt="">
                <div class="p-4">
                    <a href="#" class="text-xl font-medium hover:text-green-600">Land</a>
                    <p class="text-slate-400 text-sm mt-1">124 Listings</p>
                </div>
            </div><!--end content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <img src="/Images/property/commercial.jpg" alt="">
                <div class="p-4">
                    <a href="#" class="text-xl font-medium hover:text-green-600">Commercial</a>
                    <p class="text-slate-400 text-sm mt-1">265 Listings</p>
                </div>
            </div><!--end content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <img src="/Images/property/industrial.jpg" alt="">
                <div class="p-4">
                    <a href="#" class="text-xl font-medium hover:text-green-600">Industrial</a>
                    <p class="text-slate-400 text-sm mt-1">452 Listings</p>
                </div>
            </div><!--end content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <img src="/Images/property/investment.jpg" alt="">
                <div class="p-4">
                    <a href="#" class="text-xl font-medium hover:text-green-600">Investment</a>
                    <p class="text-slate-400 text-sm mt-1">12 Listings</p>
                </div>
            </div><!--end content-->

        </div><!--end grid-->
    </div><!--end container-->

    <div class="container relative lg:mt-24 mt-16">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-4 md:text-3xl md:leading-normal text-2xl leading-normal font-semibold">Featured
                Properties</h3>

            <p class="text-slate-400 max-w-xl mx-auto">A great plateform to buy, sell and rent your properties
                without any agent or commisions.</p>
        </div><!--end grid-->

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 mt-8 gap-[30px]">

            <!-- properties code  -->

            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/1.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detail681a.html?id=1"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">10765 Hillshire
                            Ave, Baton Rouge, LA 70810, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/2.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detail0b30.html?id=2"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">59345 STONEWALL
                            DR, Plaquemine, LA 70764, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/3.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detaild708.html?id=3"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">3723 SANDBAR
                            DR, Addis, LA 70710, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/4.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detaildcfd.html?id=4"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">Lot 21 ROYAL
                            OAK DR, Prairieville, LA 70769, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/5.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detaild61c.html?id=5"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">710 BOYD DR,
                            Unit #1102, Baton Rouge, LA 70808, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->
            <div class="group rounded-xl bg-white dark:bg-slate-900 shadow hover:shadow-xl dark:hover:shadow-xl dark:shadow-gray-700 dark:hover:shadow-gray-700 overflow-hidden ease-in-out duration-500">
                <div class="relative">
                    <img src="/Images/property/6.jpg" alt="">

                    <div class="absolute top-4 end-4">
                        <a href="javascript:void(0)"
                           class="btn btn-icon bg-white dark:bg-slate-900 shadow dark:shadow-gray-700 rounded-full text-slate-100 dark:text-slate-700 focus:text-red-600 dark:focus:text-red-600 hover:text-red-600 dark:hover:text-red-600"><i
                                    class="mdi mdi-heart text-[20px]"></i></a>
                    </div>
                </div>

                <div class="p-6">
                    <div class="pb-6">
                        <a href="property-detail3a9f.html?id=6"
                           class="text-lg hover:text-green-600 font-medium ease-in-out duration-500">5133 MCLAIN
                            WAY, Baton Rouge, LA 70809, USA</a>
                    </div>

                    <ul class="py-6 border-y border-slate-100 dark:border-gray-800 flex items-center list-none">
                        <li class="flex items-center me-4">
                            <i class="uil uil-compress-arrows text-2xl me-2 text-green-600"></i>
                            <span>8000sqf</span>
                        </li>

                        <li class="flex items-center me-4">
                            <i class="uil uil-bed-double text-2xl me-2 text-green-600"></i>
                            <span>4 Beds</span>
                        </li>

                        <li class="flex items-center">
                            <i class="uil uil-bath text-2xl me-2 text-green-600"></i>
                            <span>4 Baths</span>
                        </li>
                    </ul>

                    <ul class="pt-6 flex justify-between items-center list-none">
                        <li>
                            <span class="text-slate-400">Price</span>
                            <p class="text-lg font-medium">$5000</p>
                        </li>

                        <li>
                            <span class="text-slate-400">Rating</span>
                            <ul class="text-lg font-medium text-amber-400 list-none">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline text-black dark:text-white">5.0(30)</li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--end property content-->

        </div><!--en grid-->
        <div class="md:flex justify-center text-center mt-6">
            <div class="md:w-full">
                <a href="list.html"
                   class="btn btn-link text-green-600 hover:text-green-600 after:bg-green-600 transition duration-500">View
                    More Properties <i class="uil uil-arrow-right ms-1"></i></a>
            </div>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->